{
  "extends": "eslint:recommended",
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0
  },
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "Promise": true
  }
}
